<div class="p-5">
  <div class="card p-3">
    <form class="needs-validation" novalidate [formGroup]="formQueue">
      <div class="form-row">
        <div class="col-md mb-3">
          <label for="name">Nome da fila</label>
          <input type="text" class="form-control is-valid" id="name" placeholder="Nome da fila" formControlName="name"
            [ngClass]="{ 'is-invalid': submitted && hasError('name') }" />
          <div class="invalid-feedback" *ngIf="hasError('name') && hasError('name')['required']">
            Insira um nome para a fila
          </div>

          <div class="invalid-feedback" *ngIf="hasError('name') && hasError('name')['minlength']">
            nome precisa ter no mínimo
            {{ hasError("name")["minlength"].requiredLength }} caracteres.
          </div>

          <div class="invalid-feedback" *ngIf="hasError('name') && hasError('name')['maxlength']">
            nome precisa ter no máximo
            {{ hasError("name")["maxlength"].requiredLength }} caracteres.
          </div>
        </div>

        <div class="col-md mb-3">
          <label for="is_priority">Prioritária</label>
          <input type="text" class="form-control is-valid" id="is_priority" placeholder="Preferencial?"
            formControlName="is_priority" [ngClass]="{ 'is-invalid': submitted && hasError('is_priority') }" />
          <div class="invalid-feedback" *ngIf="hasError('is_priority') && hasError('is_priority')['required']">
            Informe se a fila é prioritária
          </div>
          <div class="invalid-feedback" *ngIf="hasError('is_priority') && hasError('is_priority')['minlength']">
            Prioridade precisa ter no mínimo
            {{ hasError("is_priority")["minlength"].requiredLength }} caracteres.
          </div>
          <div class="invalid-feedback" *ngIf="hasError('is_priority') && hasError('is_priority')['maxlength']">
            Prioridade precisa ter no máximo
            {{ hasError("is_priority")["maxlength"].requiredLength }} caracteres.
          </div>
        </div>

        <!-- <div class="col-md mb-3">
          <label for="status">Status</label>
          <input type="text" class="form-control is-valid" id="status" placeholder="Informe o status"
            formControlName="status" [ngClass]="{ 'is-invalid': submitted && hasError('status') }" />
          <div class="invalid-feedback" *ngIf="hasError('status') && hasError('status')['required']">
            Informe o status da fila
          </div>
          <div class="invalid-feedback" *ngIf="hasError('status') && hasError('status')['minlength']">
            Status precisa ter no mínimo
            {{ hasError("status")["minlength"].requiredLength }} caracteres.
          </div>
          <div class="invalid-feedback" *ngIf="hasError('status') && hasError('status')['maxlength']">
            Status precisa ter no máximo
            {{ hasError("status")["maxlength"].requiredLength }} caracteres.
          </div>
        </div> -->

      </div>

      <div>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">
          Salvar
        </button>
        <button type="button" class="btn btn-secondary" (click)="onCancel()">
          Cancelar
        </button>
        <div class="d-flex justify-content-center">
          <app-spinner [loading]="isLoaded" [httploading]="ishttpLoaded"></app-spinner>
        </div>
      </div>
    </form>
  </div>
</div>
