

<div class="teste">
	<div class="teste1">
		
		<form class="teste2">
		  <div class="form-group">
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"  [(ngModel)]="Email">
		  </div>
		  <div class="form-group">
		    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Usuario" [(ngModel)]="Usuario">
		  </div>
		  <div class="form-group">
		    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="Senha">
		  </div>
		  <button type="submit" class="btn entrar" (click)="nome1()">Entrar</button>
		</form>
		<p class="botao">Cadastra-se</p>
		
	</div>
</div>

