.teste{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center
}
.teste1{
	
}
.teste2{
	border:solid 2px;
    border-radius:20px;
	width: 150%;
	height: 100%;
	padding: 30px;
}
.entrar{
	width: 100%;
	margin-top: 30px;
	margin-bottom: -20px;
	border:solid 2px;
    border-radius:20px;
}