<div class="p-5">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h2>
        Usuários
      </h2>
      <div>
        <button class="btn btn-primary" [routerLink]="['novo-usuario']">Adicionar</button>
        <button class="btn btn-secondary" (click)="onRefresh()">Atualizar</button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped text-center" *ngIf="users$ | async as users; else loading" >
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Cargo</th>
            <th scope="col">Usuário</th>
            <th scope="col">Senha</th>
            <th scope="col">Admin</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th class="align-middle" scope="row">{{user.id}}</th>
            <td class="align-middle">{{user.cargo}}</td>
            <td class="align-middle">{{user.username}}</td>
            <td class="align-middle">{{user.senha}}</td>
            <td class="align-middle">{{user.admin}}</td>
            <td class="align-middle">{{user.status}}</td>
            <td class="align-middle" colspan="2">
              <span>
                <button class="btn btn-outline-primary" (click)="onEdit(user.id)">
                  <mat-icon class="align-middle" aria-hidden="false" aria-label="Editar usuário">
                    edit
                  </mat-icon>
                </button>
              </span>
              <span>
                <button class="btn btn-outline-danger" (click)="onDelet(user)">
                  <mat-icon class="align-middle" aria-hidden="false" aria-label="Excluir usuário">
                    delete
                  </mat-icon>
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <ng-template #loadingError>
          <div *ngIf="error$ | async; else loading">
            Erro ao carregar lista de usuários
          </div> -->
          <ng-template #loading>
            <span>Carregando lista de usuário...</span>
          </ng-template>
        <!-- </ng-template> -->
    </div>
  </div>
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Confirma a exclusão do usuário?</p>
    <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Não</button>
  </div>
</ng-template>
