<div class="p-5">
  <div class="card">
    <div class="card-header">
      <h2>
        Usuários
      </h2>
    </div>
    <div class="card-body">
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Usuário</th>
            <th scope="col">Senha</th>
            <th scope="col">Admin</th>
            <th scope="col">Ativa</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Gerente</td>
            <td>ger_admin</td>
            <td>******</td>
            <td>Sim</td>
            <td>Ativa</td>
            <td colspan="2">
              <span class="material-icons mx-2">edit</span>
              <span class="material-icons mx-2">delete_forever</span>
            </td>
          </tr>
          <tr>
            <td>Atedente</td>
            <td>atend_maria</td>
            <td>******</td>
            <td>Não</td>
            <td>Ativa</td>
            <td colspan="2">
              <span class="material-icons mx-2">edit</span>
              <span class="material-icons mx-2">delete_forever</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pt-4">
    <a class="btn btn-primary">Adicionar</a>
  </div>
</div>
