<div class="d-flex justify-content-center mt-4">
  <div class="">
  <form  [formGroup]="signInForm">
    <mat-form-field appearance="outline">
      <mat-label>Insira seu email</mat-label>
      <input matInput placeholder="email@example.com" [formControl]="email" required>
      <button mat-icon-button matSuffix>
        <mat-icon matSuffix>mail_outline</mat-icon>
      </button>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline">
      <mat-label>Insira seu usuário</mat-label>
      <input matInput placeholder="Username" [formControl]="username" required>
      <button mat-icon-button matSuffix>
        <mat-icon matSuffix>person</mat-icon>
      </button>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline">
      <mat-label>Insira sua senha</mat-label>
      <input matInput placeholder="Senha" [type]="hide ? 'password' : 'text'" [formControl]="password" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Senha oculta'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-flat-button class="btn-logar" color="primary">Entrar</button>
    <br>
    <div>
      <mat-label class="d-flex justify-content-center" [routerLink]="['signUp']">Cadastre-se</mat-label>
    </div>
  </form>
</div>

</div>
