<div class="p-2">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h1 class="my-auto">
        Fila de espera
      </h1>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped text-center table-sm table-responsive-sm">
          <thead>
            <tr>
              <th scope="col" class="text-left">Pos.</th>
              <th scope="col">Nome</th>
              <th scope="col">Celular</th>
              <th scope="col">Tempo</th>
              <th scope="col">Situação</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of waintingLinesDetail?.data; let i = index">
              <th scope="row" class="text-left">{{ i + 1}}</th>
              <td>{{ detail?.customer_name }}</td>
              <td>{{ detail?.customer_phone_number }}</td>
              <!-- <td>{{ detail?.joined_at | date : 'd/M/y HH:mm'}} </td> -->
              <td *ngIf="detail?.joined_at">{{ timediff(detail?.joined_at) }} <span> min</span></td>
              <td [innerHTML]="detail?.status | transformStatusFila"></td>
              <td>
                <span>
                  <button class="btn btn-outline-success" *ngIf="detail?.status > 0" (click)="onArrive(detail.id)">
                    <!-- <mat-icon class="align-top" aria-hidden="false" aria-label="Cliente chegou" (click)="onArrive(detail?.id)" > -->
                      Chegou
                    <!-- </mat-icon> -->
                  </button>
                </span>
                <span>
                  <button class="btn btn-outline-danger" (click)="onDelete(detail.id)">
                    <mat-icon class="align-top" aria-hidden="false" aria-label="Excluir fila">
                      delete
                    </mat-icon>
                  </button>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-between">
        <button class="btn btn-primary" (click)="onAdd(id)">Adicionar</button>
        <div class="d-flex justify-content-center">
          <app-spinner [loading]="isLoaded"></app-spinner>
        </div>
        <button class="btn btn-success" (click)="onCall(id)">Chamar próximo</button>
      </div>
    </div>
  </div>
</div>
