<!-- <div class="p-5">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h1 class="my-auto">
        Fila de espera "Número da fila"
      </h1>
    </div>
    <div class="card-body">
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th scope="col" class="text-left">Posição</th>
            <th scope="col">Nome</th>
            <th scope="col">Celular</th>
            <th scope="col">Tempo</th>
            <th scope="col">Situação</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-left">1</th>
            <td>Maria</td>
            <td>11 97711-3293</td>
            <td>45<span>min</span></td>
            <td>Concluído</td>
            <td>
              <span>
                <button class="btn btn-outline-primary">
                  <mat-icon class="align-top" aria-hidden="false" aria-label="Excluir fila">
                    edit
                  </mat-icon>
                </button>
              </span>
              <span>
                <button class="btn btn-outline-danger">
                  <mat-icon class="align-top" aria-hidden="false" aria-label="Editar fila">
                    delete
                  </mat-icon>
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between">
        <button class="btn btn-primary" [routerLink]="['nova-espera']">Adicionar</button>
        <button class="btn btn-success">Chamar próximo</button>
      </div>
    </div>
  </div>
</div> -->
