<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-auto">
            <img src="https://via.placeholder.com/350" class="card-img" alt="logo">
          </div>
          <div class="col-md">
            <div class="card-body">
              <h3 class="card-title">Restaurante</h3>
              <p class="card-text">Informação complementar</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="text-center">
    <h3>Sua Posição</h3>
    <p> {{ data | json }} </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h3><a href="#">Confira aqui o nosso cardápio</a></h3>
      <h3><a href="#">Confira aqui as sugestões do dia</a></h3>
      <h3><a href="#">Confira aqui as nossas promoções</a></h3>
    </div>
    <div class="row d-flex justify-content-end align-items-end">
      <div class="col">
        <button class="btn btn-danger" >
          Desistir
        </button>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end">
  </div>

</div>
