<div class="d-flex justify-content-center mt-4">

  <!-- <form , de teste antes de usar os tokens > -->
    <div class="form-group">
      <label for="nome">Email address</label>
      <input [(ngModel)]="usuario.nome" type="email" class="form-control" id="nome" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="senha">Password</label>
      <input [(ngModel)]="usuario.senha" type="password" class="form-control" id="senha" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary" (click)="fazerLogin()">Submit</button>
    <div>
      <a routerLink="cadastro">Cadastre-se</a>
    </div>
  <!-- </ form, de teste antes de usar os tokens > -->

  <!-- logica do login feito pelo Kleber -->

  <!-- <div class="">
  <form  [formGroup]="form01">
    <mat-form-field appearance="outline">
      <mat-label>Insira seu email</mat-label>
      <input matInput placeholder="email@example.com" [formControl]="email" required>
      <button mat-icon-button matSuffix>
        <mat-icon matSuffix>mail_outline</mat-icon>
      </button>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Insira seu usuário</mat-label>
      <input matInput placeholder="Username" [formControl]="username" required>
      <button mat-icon-button matSuffix>
        <mat-icon matSuffix>person</mat-icon>
      </button>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Insira sua senha</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Senha oculta'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-flat-button class="btn-logar" (click)="doLogin()" color="primary" [disabled]="!form01.valid" (click)="doLogin()">Entrar</button>
    <br>
    <div>
      <mat-label class="d-flex justify-content-center">Insira sua senha?</mat-label>
      <br>
      <mat-label class="d-flex justify-content-center">Cadastre-se</mat-label>
    </div>
  </form>
</div> -->
  <!-- logica do login feito pelo Kleber -->

</div>
