<div class="p-5">
  <div class="card p-3">
    <form class="needs-validation" novalidate [formGroup]="formNewClient">
      <div class="form-row">
        <div class="col-md mb-3">
          <label for="customer_name">Nome</label>
          <input
            type="text"
            class="form-control is-valid"
            id="customer_name"
            placeholder="Nome da fila"
            formControlName="customer_name"
            [ngClass]="{ 'is-invalid': submitted && hasError('customer_name') }"
          />
          <div class="invalid-feedback" *ngIf="hasError('customer_name') && hasError('customer_name')['required']">
            Informe o nome
          </div>

          <div class="invalid-feedback" *ngIf="hasError('customer_name') && hasError('customer_name')['minlength']">
            nome precisa ter no mínimo
            {{ hasError("customer_name")["minlength"].requiredLength }} caracteres.
          </div>

          <div class="invalid-feedback" *ngIf="hasError('customer_name') && hasError('customer_name')['maxlength']">
            nome precisa ter no máximo
            {{ hasError("customer_name")["maxlength"].requiredLength }} caracteres.
          </div>
        </div>

        <div class="col-md mb-3">
          <label for="customer_phone_number">Celular</label>
          <input
            type="text"
            class="form-control is-valid"
            id="customer_phone_number"
            placeholder="Telefone"
            formControlName="customer_phone_number"
            [ngClass]="{ 'is-invalid': submitted && hasError('customer_phone_number') }"
          />
          <div class="invalid-feedback" *ngIf="hasError('customer_phone_number') && hasError('customer_phone_number')['required']">
            Informa um telefone
          </div>
          <div class="invalid-feedback" *ngIf="hasError('customer_phone_number') && hasError('customer_phone_number')['minlength']">
            Telefone precisa ter no mínimo
            {{ hasError("customer_phone_number")["minlength"].requiredLength }} caracteres.
          </div>
          <div class="invalid-feedback" *ngIf="hasError('customer_phone_number') && hasError('customer_phone_number')['maxlength']">
            Telefone precisa ter no máximo
            {{ hasError("customer_phone_number")["maxlength"].requiredLength }} caracteres.
          </div>
        </div>

        <div class="col-md mb-3">
          <label for="status">Obs:</label>
          <input
            type="text"
            class="form-control"
            id="obs"
            placeholder="Observação"
            formControlName="obs"

          />
          <!-- <div class="invalid-feedback" *ngIf="hasError('status') && hasError('status')['required']">
            Informe o status da fila
          </div>
          <div class="invalid-feedback" *ngIf="hasError('status') && hasError('status')['minlength']">
            Status precisa ter no mínimo
            {{ hasError("status")["minlength"].requiredLength }} caracteres.
          </div>
          <div class="invalid-feedback" *ngIf="hasError('status') && hasError('status')['maxlength']">
            Status precisa ter no máximo
            {{ hasError("status")["maxlength"].requiredLength }} caracteres.
          </div> -->
        </div>
      </div>

      <div>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
        <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
