<div class="p-5">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h1 class="my-auto">
        Filas
      </h1>
      <div>
        <button class="btn btn-primary" [routerLink]="['nova']">Adicionar</button>
        <button class="btn btn-secondary" (click)="onRefresh()">Atualizar</button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped text-center" *ngIf="queues$ | async as queues; else loadingError">
        <thead>
          <tr>
            <th scope="col" class="text-left">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Prioritária</th>
            <th scope="col">Ativa</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let queue of queues">
            <th scope="row" class="text-left">{{queue.id}}</th>
            <td>{{ queue.name }}</td>
            <td>{{ queue.is_priority }}</td>
            <td>{{queue.status }}</td>
            <td colspan="2">
              <span>
                <button class="btn btn-outline-warning" (click)="onEdit(queue.id)">
                  Editar
                </button>
                <button class="btn btn-outline-danger" (click)="onDelet(queue)">
                  Excluir
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #loadingError>
        <div *ngIf="error$ | async; else loading">
          Erro ao carregar a fila de clientes
        </div>
        <ng-template #loading>
          <span>Carregando filas...</span>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Confirma a exclusão desta fila?</p>
    <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Não</button>
  </div>
</ng-template>
