<div class="p-5">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h1 class="my-auto">
        Filas
      </h1>
      <div>
        <button class="btn btn-primary" [routerLink]="['nova-fila']">Adicionar</button>
        <button class="btn btn-secondary" (click)="onRefresh()">Atualizar</button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Prioritária</th>
            <th scope="col">Ativa</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let queue of queues">
            <td>{{ queue.name }}</td>
            <td [innerHTML]="queue.is_priority | transformBoolean"></td>
            <td [innerHTML]="queue.status | transformBoolean"></td>
            <td colspan="2">
              <span>
                <button class="btn btn-outline-primary" (click)="onEdit(queue.id)">
                  <mat-icon class="align-middle" aria-hidden="false" aria-label="Editar fila">
                    edit
                  </mat-icon>
                </button>
              </span>
              <span>
                <button class="btn btn-outline-danger" (click)="onDelete(queue)">
                  <mat-icon class="align-middle" aria-hidden="false" aria-label="Excluir fila">
                    delete
                  </mat-icon>
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <app-spinner [loading]="isLoaded"></app-spinner>
      </div>
      <!-- <ng-template #loadingError>
        <div *ngIf="error$ | async; else loading">
          Erro ao carregar a fila de clientes
        </div> -->
        <ng-template #loading>
          <span>Carregando filas...</span>
        </ng-template>
      <!-- </ng-template> -->
    </div>
  </div>
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Confirma a exclusão desta fila?</p>
    <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Não</button>
  </div>
</ng-template>
