<div class="card">
  <div class="card-body">
    <form formGroup>

      <div class="form-group">
        <label for="inputAddress">Email</label>
        <input type="text" class="form-control" id="inputEmail" placeholder="seu@email.com.br">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Nome</label>
        <input type="text" class="form-control" id="inputName" placeholder="Seu nome aqui">
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Senha</label>
          <input type="password" class="form-control" id="inputPassword1">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Senha</label>
          <input type="password" class="form-control" id="inputPassword2">
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button mat-flat-button class="btn-salvar" color="primary">Salvar</button>
      </div>
    </form>
  </div>
</div>
