

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Celular</th>
      <th scope="col">Tempo</th>
      <th scope="col">Situação</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Douglas</td>
      <td>999999999</td>
      <td>40min</td>
      <td>Aguardando Cliente</td>
      <td>Icone</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Felipe</td>
      <td>999999999</td>
      <td>40min</td>
      <td>Na fila</td>
      <td>Icone</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Cristina</td>
      <td>999999999</td>
      <td>40min</td>
      <td>Concluido</td>
      <td>icone</td>
    </tr>
  </tbody>
</table>

<br><br><br><br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">SIM_OU_NAO</th>
      <th scope="col">NUMERO</th>
      <th scope="col">Maior Tempo</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Fila de Espera 1</td>
      <td>SIM</td>
      <td>5</td>
      <td>10 min</td>
      <td>Icone</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Fila de Espera 2</td>
      <td>NAO</td>
      <td>4</td>
      <td>45 min</td>
      <td>Icone</td>
    </tr>
  </tbody>
</table>

<br><br><br><br>



<div class="caixinha">
	Atender(iconeX)
</div>
<div class="caixinha2">
	<p>Chamar cliente para atendimento?</p>
	<button type="submit" class="btn entrar">Enviar SMS</button>
</div>

