<div class="p-5">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h1 class="my-auto">
        Filas para Atendimento
      </h1>
      <div>
        <button class="btn btn-secondary" (click)="onRefresh()">Atualizar</button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Prioritária</th>
            <th scope="col">Espera</th>
            <th scope="col">Maior Tempo de Espera</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let waintingLine of waintingLines" >
            <td class="align-middle">{{ waintingLine.name }}</td>
            <td class="align-middle" [innerHTML]="waintingLine.is_priority | transformBoolean"></td>
            <td class="align-middle"> {{ waintingLine.qty_total }} </td>
            <td class="align-middle">{{ waintingLine.max_waiting_minutes }}<span *ngIf="waintingLine.max_waiting_minutes"> min</span></td>
            <td class="align-middle">
              <span>
                <button class="py-auto btn btn-outline-primary">
                  <mat-icon class="align-middle" aria-hidden="false" aria-label="Visualizar detalhes"
                    (click)="onDetail(waintingLine.id)">visibility</mat-icon>
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <app-spinner [loading]="isLoaded" [httploading]="ishttpLoaded"></app-spinner>
      </div>
      <ng-template #loadingError>
        <div *ngIf="error$ | async; else loading" >
          Erro ao carregar lista de espera.
        </div>
        <ng-template #loading>
          <span>Carregando filas...</span>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>
