<div class="p-5">
  <div class="card p-3">
    <form class="needs-validation" novalidate [formGroup]="formUser">
      <div class="form-row">
        <div class="col-md mb-3">
          <label for="cargo">Cargo</label>
          <input
            type="text"
            class="form-control is-valid"
            id="cargo"
            placeholder="Cargo"
            formControlName="cargo"
            [ngClass]="{ 'is-invalid': submitted && hasError('cargo') }"
          />
          <div
            class="invalid-feedback"
            *ngIf="hasError('cargo') && hasError('cargo')['required']"
          >
            Insira o cargo
          </div>

          <div
            class="invalid-feedback"
            *ngIf="hasError('cargo') && hasError('cargo')['minlength']"
          >
            Cargo precisa ter no mínimo
            {{ hasError("cargo")["minlength"].requiredLength }} caracteres.
          </div>

          <div
            class="invalid-feedback"
            *ngIf="hasError('cargo') && hasError('cargo')['maxlength']"
          >
            cargo precisa ter no máximo
            {{ hasError("cargo")["maxlength"].requiredLength }} caracteres.
          </div>
        </div>

        <div class="col-md mb-3">
          <label for="username">Usuário</label>
          <input
            type="text"
            class="form-control is-valid"
            id="username"
            placeholder="usuário"
            formControlName="username"
            [ngClass]="{ 'is-invalid': submitted && hasError('username') }"
          />
          <div
            class="invalid-feedback"
            *ngIf="hasError('username') && hasError('username')['required']"
          >
            Informe o usuário
          </div>
          <div
            class="invalid-feedback"
            *ngIf="hasError('username') && hasError('username')['minlength']"
          >
            Usuário precisa ter no mínimo
            {{ hasError("username")["minlength"].requiredLength }} caracteres.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="hasError('username') && hasError('username')['maxlength']"
          >
            Usuário precisa ter no máximo
            {{ hasError("priority")["maxlength"].requiredLength }} caracteres.
          </div>
        </div>

        <div class="col-md mb-3">
          <label for="senha">Senha</label>
          <input
            type="text"
            class="form-control is-valid"
            id="senha"
            placeholder="Informe o senha"
            formControlName="senha"
            [ngClass]="{ 'is-invalid': submitted && hasError('senha') }"
          />
          <div
            class="invalid-feedback"
            *ngIf="hasError('senha') && hasError('senha')['required']"
          >
            Informe a senha
          </div>
          <div
            class="invalid-feedback"
            *ngIf="hasError('senha') && hasError('senha')['minlength']"
          >
            Senha precisa ter no mínimo
            {{ hasError("senha")["minlength"].requiredLength }} caracteres.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="hasError('senha') && hasError('senha')['maxlength']"
          >
            Senha precisa ter no máximo
            {{ hasError("senha")["maxlength"].requiredLength }} caracteres.
          </div>
        </div>

        <div class="col-md mb-3">
          <label for="admin">Admin</label>
          <input
            type="text"
            class="form-control is-valid"
            id="admin"
            placeholder="Informe o admin"
            formControlName="admin"
            [ngClass]="{ 'is-invalid': submitted && hasError('admin') }"
          />
          <div
            class="invalid-feedback"
            *ngIf="hasError('admin') && hasError('admin')['required']"
          >
            Informe o admin
          </div>
          <div
            class="invalid-feedback"
            *ngIf="hasError('admin') && hasError('admin')['minlength']"
          >
            Admin precisa ter no mínimo
            {{ hasError("admin")["minlength"].requiredLength }} caracteres.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="hasError('admin') && hasError('admin')['maxlength']"
          >
            Admin precisa ter no máximo
            {{ hasError("admin")["maxlength"].requiredLength }} caracteres.
          </div>
        </div>

        <div class="col-md mb-3">
          <label for="status">Ativo</label>
          <input
            type="text"
            class="form-control is-valid"
            id="status"
            placeholder="Sim ou não"
            formControlName="status"
            [ngClass]="{ 'is-invalid': submitted && hasError('status') }"
          />
          <div
            class="invalid-feedback"
            *ngIf="hasError('status') && hasError('status')['required']"
          >
            Sim ou não
          </div>
          <div
            class="invalid-feedback"
            *ngIf="hasError('status') && hasError('status')['minlength']"
          >
            Precisa ter no mínimo
            {{ hasError("status")["minlength"].requiredLength }} caracteres.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="hasError('status') && hasError('status')['maxlength']"
          >
            Precisa ter no máximo
            {{ hasError("status")["maxlength"].requiredLength }} caracteres.
          </div>
        </div>
      </div>

      <div>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">
          Salvar
        </button>
        <button type="button" class="btn btn-secondary" (click)="onCancel()">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
