<div>
  <div class="my-3 d-flex justify-content-center mt-4 col-sm" *ngIf="logged">
    <button
    class="btn btn-primary"
    type="submit"
    onclick="{document.cookie = 'token=; path=/; domain=.tuamesa.com.br;'; window.location.reload();}"
    >
    Sair
  </button>
</div>
<div class="d-flex justify-content-center mt-4" *ngIf="!logged">
  <div class="">
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="email@example.com"
            formControlName="email"
            required
          />
          
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md">
          <label for="username">Usuário</label>
          <input
            type="text"
            class="form-control"
            id="username"
            placeholder="Usuário"
            formControlName="username"
            required
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md">
          <label for="password">Senha</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Senha"
            formControlName="password"
            required
          />
        </div>
      </div>

      <div class="my-3">
        <button
        class="btn btn-primary col"
        [disabled]="signInForm.invalid"
        type="submit">
        Entrar
      </button>
      
    </div>

      <div>
        <label
          class="d-flex justify-content-center"
          [routerLink]="['cadastro']"
        >
          Cadastre-se
        </label>
      </div>
      <div class="d-flex justify-content-center">
        <app-spinner [loading]="isLoaded" [httploading]="ishttpLoaded"></app-spinner>
      </div>
    </form>
  </div>
</div>